@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #2f3640;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 800px;
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 0 4px 10px black;
}
.input_container {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid rgb(21, 164, 247);
  border-radius: 10px;
  overflow: hidden;
}
.input_text {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px;
}
.search-icon {
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.image img {
  width: 250px;
  height: 250px;
}

.temp,
.location,
.country {
  margin-top: 2px;
  font-size: 35px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.temp {
  font-weight: 500;
}

.location {
  color: #ffbc00;
  font-weight: 500;
  font-size: 40px;
}

.country {
  font-size: 20px;
  color: #888;
  font-weight: 500;
}
.cord {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.cord div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cord div span {
  font-size: 18px;
}

.humidity-percent,
.wind-percent,
.cord div span:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  color: #666;
}
.icon {
  width: 70px;
  height: 50px;
  margin-bottom: 5px;
}

.data-container {
  display: flex;
  justify-content: space-between;
}

.element {
  text-align: center;
}
.copyrights {
  text-align: center;
  margin-top: 5px;
  color: #666;
}

.copyrights span {
  color: #ffbc00;
  font-weight: 500;
}

.city-not-found,
.loading-message,
.error-message {
  margin-top: 10px;
  color: #888;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    min-width: 400px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
